{% extends "layouts/base.html.twig" %}

{% block title %}
    Blog 😊
{% endblock %}

{% block body %}
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem nesciunt rem dolorum provident officiis repudiandae quod esse, quis facilis at laborum architecto illum aut aperiam deleniti tempora beatae vel culpa!
        Ipsa illum nulla a repudiandae ratione dignissimos ex ullam nostrum natus qui! Reiciendis debitis amet quam odit? Deserunt perspiciatis delectus doloribus, voluptate repellendus nisi, ea voluptas a fuga dicta aliquid!
        Eaque, est fuga itaque necessitatibus molestiae aperiam animi repellat odit quasi consectetur unde doloribus praesentium. Sint ipsum dignissimos accusantium laboriosam modi, error quod maiores nihil aut culpa explicabo autem magnam?
        Eius in officia maiores eveniet deleniti rem possimus tenetur iure eum a alias illum quia minima commodi recusandae doloremque vero sint debitis, unde ab dignissimos molestiae molestias quibusdam. Similique, quos.
        Ex facere esse aliquam, sed necessitatibus id sint quidem libero perferendis corporis quis amet voluptas facilis ratione numquam architecto harum fugiat? Temporibus cum consequatur eum doloribus rerum corrupti repellendus vitae.
        Totam iste officia quia veritatis dolorem eaque ut amet ipsam atque nam reiciendis inventore repellat aperiam harum dolor incidunt sequi, dolore, laudantium minima corporis eligendi laboriosam id autem. Cupiditate, tempore.
        Accusantium cupiditate quos blanditiis delectus minima eaque aperiam est velit. Alias, deleniti, sint aut perspiciatis quae quasi laborum doloremque omnis velit necessitatibus facilis possimus vel reprehenderit quidem praesentium, id autem?
        Voluptas quo, sint commodi unde quos aspernatur distinctio aut amet laudantium. Beatae iste velit dolorum, tenetur consectetur consequatur aut ipsam dolore eos numquam debitis, atque sapiente. Itaque incidunt odit consequuntur!
        Dolorum corrupti expedita voluptate aperiam. Eaque vitae eveniet laudantium mollitia deserunt enim illo assumenda aut, corporis aliquid velit illum pariatur voluptatum iusto! Qui dolore accusamus aut suscipit, vero fugiat aperiam.
        Cumque illum eius cum eum laborum libero, dolor maiores non quam rerum voluptates, beatae perferendis! Cumque doloremque iusto numquam asperiores ea quo, accusamus, vel dolores odio nemo sunt expedita eaque.
        Illum labore assumenda accusamus harum voluptas modi cupiditate provident voluptate explicabo, obcaecati magni sunt, corrupti vel reprehenderit consequuntur eius quibusdam delectus. Fugiat delectus, ab alias aperiam laborum enim quia iste?
        Veniam ex ipsam fuga placeat quas, unde velit explicabo. Doloribus, quam ex commodi, molestias id non quae natus eius, nesciunt dolorum deserunt. Nisi quam rerum doloribus minus obcaecati illo dolores.
        Optio, fugiat. Pariatur, praesentium architecto eligendi ipsam commodi reprehenderit accusantium dicta, maiores perferendis maxime neque? Repellat molestias reiciendis explicabo voluptatum doloremque aperiam ipsa eveniet laudantium quisquam magni. Totam, dolores nesciunt!
        Corporis in animi facilis fugiat laboriosam error, sequi aperiam corrupti nostrum est veniam, repellendus magni dolorem repellat rem quis velit ducimus maxime architecto molestias? Quod ab error cupiditate praesentium ut!
        Nobis ducimus consectetur, quam cumque architecto nostrum minus nisi sequi ad id eligendi ut et totam magnam consequatur dolorum? Labore, rem. Atque dolor blanditiis illum laboriosam hic accusantium unde omnis!
        Voluptatum quia totam doloribus laborum maiores fugit, assumenda, cumque sed recusandae quod aliquam magni nam dignissimos eius minus, ipsam et debitis? Laboriosam dignissimos vitae ut, nesciunt quae neque voluptate necessitatibus!
        Explicabo tempora dolorum neque, consectetur in quasi dolores obcaecati recusandae sit molestiae saepe doloremque cumque at voluptatem illum, facilis commodi quae facere, voluptatibus nemo quis. Quae, nisi. Facilis, non similique?
        Obcaecati voluptate quasi exercitationem quibusdam libero, cum quis et veritatis saepe excepturi nulla quia! Velit nihil sit illum, nam, eos voluptate impedit deleniti voluptatum labore voluptatibus sunt perferendis assumenda necessitatibus?
        Doloribus saepe nisi a aperiam commodi possimus incidunt eos recusandae consectetur autem. Quibusdam nesciunt fugiat voluptatibus perspiciatis quos iure, incidunt doloremque ipsam sint in error, voluptatum voluptate veritatis, explicabo cum.
        Molestiae iure minus amet reiciendis quos porro eligendi maxime consectetur velit explicabo ea repellendus totam unde consequuntur suscipit ratione impedit accusantium repellat, sapiente distinctio! Possimus quibusdam enim repudiandae natus provident!
    </p>
{% endblock %}