{% extends 'base.html.twig' %}

{% block title %} Ajouter un titre{% endblock %}

{% block body %}
<div class="row mt-4">
    <div class="text-center">
        <h1>Ajouter un titre</h1>
    </div>
</div>
<div class="row mt-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero libero iusto nemo odio? Provident dolores tempora asperiores modi suscipit quam esse rem ducimus. Numquam necessitatibus a maxime eveniet blanditiis magni.
    Quod provident praesentium nostrum delectus magni, nisi quo quidem velit aut, vel dolore. Illo temporibus ex repudiandae impedit tempore labore vitae, harum, odit nulla fugit minima culpa ullam, cum veritatis.
    Fuga quae dolore magnam ratione ut temporibus impedit molestiae maxime labore, nam debitis minus porro libero excepturi dignissimos? Eos cum minus sunt voluptatibus repellendus animi velit, porro obcaecati. Totam, voluptate.
    Magnam, quasi cum alias sed, libero quisquam reprehenderit at dolores voluptatum voluptas, accusantium harum dicta atque iure cupiditate veniam fugiat. Fuga saepe voluptatibus earum natus! Tempora corporis aliquid alias est!
    Totam numquam possimus magni qui est in necessitatibus ea libero placeat explicabo dolores quas itaque facere, maxime tempora adipisci consequatur! Illo repudiandae numquam ipsum doloremque explicabo iste aliquid excepturi quibusdam?
    Quidem dolorem consequuntur repellendus sunt veritatis, molestiae unde ab neque facilis suscipit iure possimus autem minus culpa nam qui! Libero, dolore repellendus. Consectetur voluptas, enim porro nulla esse quidem perspiciatis.
    Unde, hic odio maxime totam minus ipsum pariatur aliquam, earum dolorem, necessitatibus non? Incidunt quod fugit reiciendis vero consequatur eaque, expedita asperiores nesciunt aut illo, soluta quis praesentium facere perspiciatis.
    Cum temporibus debitis animi necessitatibus quae quas. Inventore optio, aspernatur blanditiis eum ad illum incidunt, cupiditate recusandae, iure magni soluta officiis consequuntur explicabo quia odit. Exercitationem atque animi cupiditate rem.
    Velit asperiores aliquid animi perspiciatis itaque voluptatum architecto. Hic distinctio sed suscipit omnis modi, facere sequi excepturi obcaecati, totam, velit corporis? Id suscipit, vel rerum ducimus nostrum laboriosam blanditiis dolores.
    Eos, quod provident aperiam iure at possimus adipisci, qui quo beatae, soluta laudantium dolore consequatur itaque porro ratione exercitationem dolorum iste. Totam veniam minima natus repellat non vitae autem sed.
    Maiores, temporibus eius at reiciendis nostrum, quia soluta, asperiores iste iusto accusamus accusantium error fugiat! Quasi, ea aspernatur officia in veniam cumque sit error quas harum necessitatibus. Autem, distinctio ab.
    Quibusdam maiores fuga voluptates cumque inventore modi adipisci necessitatibus eum. Doloremque aliquid, beatae doloribus esse quasi magni quae perspiciatis consequatur fugiat ipsa molestiae, porro officia. Odit voluptates eaque repellat quisquam!
    Laudantium, libero, sequi maiores quasi earum tempore accusamus ipsam odit eius adipisci quae rerum esse temporibus deleniti eligendi debitis laborum distinctio aspernatur quis ex autem. Impedit molestias saepe consequuntur quibusdam.
    Odit magnam et obcaecati, expedita repellat iusto deleniti, eos quas, aliquam eius omnis doloribus aliquid. Quos totam animi, temporibus a, dolores saepe id voluptates libero aut cumque nostrum deserunt dignissimos!
    Magnam numquam porro blanditiis! Atque quam commodi tenetur fugit molestias, maiores, fuga nulla officiis repudiandae nobis corporis qui perferendis unde accusamus asperiores esse ea, possimus corrupti eaque! Ipsam, iste excepturi.</p>
</div> 
{% endblock %}
